<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Device Application</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body class="centered">
    <section id="team" class="pb-5 col-12">
        <div class="container">
            <h1 class="section-title">Device Application</h1>

            <!-- Buttons -->
            <div class="row">
                <div class="col-12">
                    <div class="image-flip">
                        <div class="mainflip">
                            <div class="card">
                                <div class="row card-body text-center">
                                    <div class="col-6 text-center">
                                        <button type="button" class="btn btn-primary btn-sm col-12 text-center"
                                            data-toggle="modal" data-target="#messagesModalCenter">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                    </div>
                                    <div class="btn-group-toggle col-6 text-center" data-toggle="buttons">
                                        <label id="serverActiveStateLabel" class="btn btn-primary btn-sm col-12 text-center <% if (profile.active) { %>
                                                    active
                                                    <% } %>">
                                            <input id="serverActiveStateButton" type="checkbox" <% if (profile.active)
                                                { %>
                                            checked
                                            <% } %>
                                            autocomplete="off">Active
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="messagesModalCenter" tabindex="-1" role="dialog" aria-labelledby="messagesModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title centered" id="messagesModalCenterTitle">
                                    Messages
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Modal -->
            </div>

            <!-- Server -->
            <div class="row">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="image-flip">
                        <div class="mainflip">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Server
                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                            data-target="#serverModalCenter">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </h4>
                                    <p class="card-text">
                                        <b>ID</b>:
                                        <%= profile.backendId %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="serverModalCenter" tabindex="-1" role="dialog" aria-labelledby="serverModalCenterTitle"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title centered" id="serverModalCenterTitle">
                                        Edit server settings
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="serverForm">
                                        <div class="form-group">
                                            <label for="serverID">Server ID</label>
                                            <input class="form-control" id="serverID" placeholder="Enter Server ID"
                                                value="<%= profile.backendId %>">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="saveServerForm">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Modal -->
                </div>
                <!-- ./Team member -->

                <!-- Broker -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="image-flip">
                        <div class="mainflip">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title">Broker
                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                            data-target="#brokerModalCenter">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </h4>
                                    <p class="card-text">
                                        <b>Host</b>:
                                        <%= profile.broker.host %>
                                        </br>
                                        <b>Port</b>:
                                        <%= profile.broker.port %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="brokerModalCenter" tabindex="-1" role="dialog" aria-labelledby="brokerModalCenterTitle"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title modal-title-centered" id="brokerModalCenterTitle">
                                        Edit broker settings
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="brokerForm">
                                        <div class="form-group">
                                            <label for="brokerHost">Broker Host</label>
                                            <input class="form-control" id="brokerHost" placeholder="Host" value="<%= profile.broker.host %>">
                                            <label for="brokerPort">Broker Port</label>
                                            <input class="form-control" id="brokerPort" placeholder="Port" value="<%= profile.broker.port %>">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="saveBrokerForm">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Modal -->
                </div>
                <!-- ./Team member -->
            </div>

            <!-- Device -->
            <% if (profile.device) { %>
            <div class="row">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-12">
                    <div class="mainflip">
                        <div class="card">
                            <div class="card-body text-center">
                                <h4 class="card-title">Device
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#deviceEditModalCenter">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#deviceRemoveModalCenter">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#sensorAddModalCenter">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </h4>
                                <p class="card-text">
                                    <b>ID</b>:
                                    <%= profile.device.id %>
                                    </br>
                                    <b>Name</b>:
                                    <%= profile.device.name %>
                                    </br>
                                    <b>Sensors</b>:
                                    <%= profile.device.sensors.length %>
                                    <% if (profile.device.actions.length > 0) { %>
                                    </br>
                                    <b>Actions</b>:
                                    <%= profile.device.actions.map(action => `[ID: ${action.id}, name: ${action.name}]`).join(", ") %>
                                    <% } %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="deviceEditModalCenter" tabindex="-1" role="dialog" aria-labelledby="deviceEditModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title modal-title-centered" id="deviceEditModalCenterTitle">
                                    Edit device settings
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="deviceEditForm">
                                    <div class="form-group">
                                        <label for="deviceID">Device ID</label>
                                        <input type="text" class="form-control" id="deviceID" placeholder="Device ID"
                                            value="<%= profile.device.id %>">
                                        <label for="deviceName">Device name</label>
                                        <input type="text" class="form-control" id="deviceName" placeholder="Device name"
                                            value="<%= profile.device.name %>">
                                        <label for="actionsDeviceCommon">Common device actions</label>
                                        <select class="custom-select" id="actionsDeviceCommon" multiple>
                                            <% for (var action in Actions.Device.Common) { %>
                                            <option value="<%= action %>" <% if
                                                (profile.device.actions.find(deviceAction=>
                                                deviceAction.id === action && deviceAction.name ===
                                                Actions.Device.Common[action])) {
                                                %>selected
                                                <% } %>>
                                                <%= action %>
                                            </option>
                                            <% } %>
                                        </select>
                                        <label for="actionsDeviceCustom">Custom device actions</label>
                                        <select class="custom-select" id="actionsDeviceCustom" multiple>
                                            <% for (var action in Actions.Device.Custom) { %>
                                            <option value="<%= action %>" <% if
                                                (profile.device.actions.find(deviceAction=>
                                                deviceAction.id === action && deviceAction.name ===
                                                Actions.Device.Custom[action])) {
                                                %>selected
                                                <% } %>>
                                                <%= action %>
                                            </option>
                                            <% } %>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="saveDeviceEditForm">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Modal -->
                <!-- Modal -->
                <div class="modal fade" id="deviceRemoveModalCenter" tabindex="-1" role="dialog" aria-labelledby="deviceRemoveModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title modal-title-centered" id="deviceRemoveModalCenterTitle">
                                    Do you really want to remove this device?
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="removeDevice">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Modal -->
                <!-- Modal -->
                <div class="modal fade" id="sensorAddModalCenter" tabindex="-1" role="dialog" aria-labelledby="sensorAddModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title modal-title-centered" id="sensorAddModalCenterTitle">
                                    Add new sensor
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="sensorAddForm">
                                    <div class="form-group">
                                        <label for="sensorID">Sensor ID</label>
                                        <input type="text" class="form-control" id="sensorID" placeholder="Sensor ID">
                                        <label for="sensorType">Sensor Type</label>
                                        <select class="custom-select" id="sensorType">
                                            <% for (var type in Sensors.Types) { %>
                                            <option value="<%= Sensors.Types[type] %>">
                                                <%= Sensors.Types[type] %>
                                            </option>
                                            <% } %>
                                        </select>
                                        <label for="actionsSensorCommon">Common sensor actions</label>
                                        <select class="custom-select" id="actionsSensorCommon" multiple>
                                            <% for (var action in Actions.Sensor.Common) { %>
                                            <option value="<%= action %>">
                                                <%= action %>
                                            </option>
                                            <% } %>
                                        </select>
                                        <label for="actionsSensorCustom">Custom sensor actions</label>
                                        <select class="custom-select" id="actionsSensorCustom" multiple>
                                            <% for (var action in Actions.Sensor.Custom) { %>
                                            <option value="<%= action %>">
                                                <%= action %>
                                            </option>
                                            <% } %>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="saveSensorAddForm">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Modal -->
            <!-- ./Team member -->

            <!-- Sensors -->
            <% for (var i = 0; i < profile.device.sensors.length; i++) { %>
            <div class="row justify-content-end">
                <!-- Team member -->
                <div class="col-xs-11 col-sm-4 col-md-11">
                    <div class="mainflip">
                        <div class="card">
                            <div class="card-body text-center">
                                <h4 class="card-title">Sensor
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#sensorEditModalCenter-<%= i %>">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#sensorRemoveModalCenter-<%= i %>">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </h4>
                                <p class="card-text">
                                    <b>ID</b>:
                                    <%= profile.device.sensors[i].id %>
                                    </br>
                                    <b>Type</b>:
                                    <%= profile.device.sensors[i].type %>
                                    <% if (profile.device.sensors[i].actions.length > 0) { %>
                                    </br>
                                    <b>Actions</b>:
                                    <%= profile.device.sensors[i].actions.map(action => `[ID: ${action.id}, name: ${action.name}]`).join(", ") %>
                                    <% } %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="sensorEditModalCenter-<%= i %>" tabindex="-1" role="dialog"
                        aria-labelledby="sensorEditModalCenterTitle-<%= i %>" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title modal-title-centered" id="sensorEditModalCenterTitle-<%= i %>">
                                        Edit sensor settings
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="sensorEditForm-<%= i %>">
                                        <div class="form-group">
                                            <label for="sensorID-<%= i %>">Sensor ID</label>
                                            <input type="text" class="form-control" id="sensorID-<%= i %>" placeholder="Sensor ID"
                                                value="<%= profile.device.sensors[i].id %>">
                                            <label for="sensorType-<%= i %>">Sensor Type</label>
                                            <select class="custom-select" id="sensorType-<%= i %>">
                                                <% for (var type in Sensors.Types) { %>
                                                <option value="<%= Sensors.Types[type] %>" <% if
                                                    (profile.device.sensors[i].type===type) { %>selected
                                                    <% } %>>
                                                    <%= Sensors.Types[type] %>
                                                </option>
                                                <% } %>
                                            </select>
                                            <label for="actionsSensorCommon-<%= i %>">Common sensor actions</label>
                                            <select class="custom-select" id="actionsSensorCommon-<%= i %>" multiple>
                                                <% for (var action in Actions.Sensor.Common) { %>
                                                <option value="<%= action %>" <% if
                                                    (profile.device.sensors[i].actions.find(sensorAction=>
                                                    sensorAction.id === action && sensorAction.name ===
                                                    Actions.Sensor.Common[action])) {
                                                    %>selected
                                                    <% } %>>
                                                    <%= action %>
                                                </option>
                                                <% } %>
                                            </select>
                                            <label for="actionsSensorCustom-<%= i %>">Custom sensor actions</label>
                                            <select class="custom-select" id="actionsSensorCustom-<%= i %>" multiple>
                                                <% for (var action in Actions.Sensor.Custom) { %>
                                                <option value="<%= action %>" <% if
                                                    (profile.device.sensors[i].actions.find(sensorAction=>
                                                    sensorAction.id === action && sensorAction.name ===
                                                    Actions.Sensor.Custom[action])) {
                                                    %>selected
                                                    <% } %>>
                                                    <%= action %>
                                                </option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary saveSensorEditForm" id="saveSensorEditForm-<%= i %>">Save
                                        changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Modal -->
                    <!-- Modal -->
                    <div class="modal fade" id="sensorRemoveModalCenter-<%= i %>" tabindex="-1" role="dialog"
                        aria-labelledby="sensorRemoveModalCenterTitle-<%= i %>" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title modal-title-centered" id="sensorRemoveModalCenterTitle-<%= i %>">
                                        Do you really want to remove this sensor?
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary removeSensor" id="removeSensor-<%= i %>">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Modal -->
            </div>
            <% } %>
            <!-- ./Team member -->
            <% } else { %>
            <div class="row">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-12">
                    <div class="mainflip">
                        <div class="card">
                            <div class="card-body text-center">
                                <h4 class="card-title">Device
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#deviceAddModalCenter">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </h4>
                                <p class="card-text">
                                    Profile has not information about device
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="deviceAddModalCenter" tabindex="-1" role="dialog" aria-labelledby="deviceAddModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title modal-title-centered" id="deviceAddModalCenterTitle">
                                    Add device settings
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="deviceAddForm">
                                    <div class="form-group">
                                        <label for="deviceID">Device ID</label>
                                        <input type="text" class="form-control" id="deviceID" placeholder="Device ID">
                                        <label for="deviceName">Device name</label>
                                        <input type="text" class="form-control" id="deviceName" placeholder="Device name">
                                        <label for="actionsDeviceCommon">Common device actions</label>
                                        <select class="custom-select" id="actionsDeviceCommon" multiple>
                                            <% for (var action in Actions.Device.Common) { %>
                                            <option value="<%= action %>">
                                                <%= action %>
                                            </option>
                                            <% } %>
                                        </select>
                                        <label for="actionsDeviceCustom">Custom device actions</label>
                                        <select class="custom-select" id="actionsDeviceCustom" multiple>
                                            <% for (var action in Actions.Device.Custom) { %>
                                            <option value="<%= action %>">
                                                <%= action %>
                                            </option>
                                            <% } %>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="saveDeviceAddForm">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="../frontend/server.edit.js"></script>
    <script src="../frontend/broker.edit.js"></script>
    <script src="../frontend/device.add.js"></script>
    <script src="../frontend/device.edit.js"></script>
    <script src="../frontend/device.remove.js"></script>
    <script src="../frontend/sensor.add.js"></script>
    <script src="../frontend/sensor.edit.js"></script>
    <script src="../frontend/sensor.remove.js"></script>
    <script src="../frontend/active.check.js"></script>
</body>

</html>